@import '../../assets/styles/variables.scss';

.sign-in {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-image {
        width: 50%;
        height: 100vh;
        background-size: cover !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        div {
            width: 4px;
            height: 32px;
            background: #C4C4C4;
            position: absolute;
        }
        &-border-1 {
            left: -34px;
            top: -13px;
        }
        &-border-2 {
            transform: rotate(90deg);
            left: -24px;
            top: -24px;
        }
        &-border-3 {
            right: -34px;
            bottom: -13px;
        }
        &-border-4 {
            transform: rotate(90deg);
            right: -24px;
            bottom: -24px;
        }
        h2 {
            font-size: 60px;
            color: #FFFFFF;
            font-weight: 400;
            width: 530px;
            display: block;
            margin-top: 130px;
            position: relative;

        }
        span {
            font-weight: 600;
            color: #fff;
            font-size: 13px;
            position: absolute;
            bottom: 35px;
        }
    }
    &-form {
        width: 50%;
        height: 100vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            width: 350px;
            display: flex;
            flex-direction: column;
            span {
                font-size: 16px;
                color: #2D3748;
            }
            h3 {
                font-weight: bold;
                font-size: 30px;
                font-size: 30px;
                margin: 20px 0;
            }
            input {
                widows: 95%;
                padding-left: 5%;
                height: 50px;
                border: 1px solid #E8E8E8;
                border-radius: 5px;
                margin: 15px 0;
                font-size: 14px;
                color: #2D3748;
            }
            button {
                width: 100%;
                height: 50px;
                background: $primary;
                border-radius: 5px;
                border: none;
                font-weight: bold;
                font-size: 16px;
                color: #FFFFFF;
                cursor: pointer;
            }
        }
        &-div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 18px 0 25px 0;
            user-select: none;
            span {
                font-size: 14px !important;
            }
        }
        &-remember {
            display: flex;
            align-items: center;
            div {
                width: 15px;
                height: 15px;
                border: 1px solid #2D3748;
                border-radius: 4px;
                margin-right: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 10px;
                    object-fit: cover;
                    display: none;
                }
            }
            &-checked {
                div img {
                    display: block;
                }
            }
        }
        &-forgot {
            cursor: pointer;
            color: $primary !important;
        }
    }
}

@media (max-width: 1250px) {
    .sign-in {
        &-image {
            &-border-1, &-border-2, &-border-3, &-border-4 {
                display: none;
            }
            h2 {
                width: 90%;
            }
        }
    }
}
@media (max-width: 780px) {
    .sign-in {
        &-image {
            display: none;
        }
        &-form {
            width: 100%;
        }
    }
}
@media (max-width: 400px) {
    .sign-in {
        &-form {
            form {
                width: 90%;
            }
        }
    }
}