@import '../../assets/styles/mixins.scss';

.student-home {
    @include componentWrapper;
    &-container {
        @include container;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-classes {
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 23px;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }
    &-ce {
        display: flex;
        flex-direction: column;
        &-calendar {
            display: flex;
            flex-direction: column;
            margin-top: 115px;
            &-menu {
                list-style: none;
                width: 397px;
                height: 50px;
                background: #0C0B0B;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 10px;
                margin-bottom: 8px;
                li {
                    display: inline-block;
                    color: #7A7585;
                    padding: 11px 30px;
                    font-size: 18px;
                    cursor: pointer;
                }
                &-selected {
                    color: #EEECF1 !important;
                    background: #648CD9;
                    border-radius: 8px;
                }
            }
            .react-calendar {
                margin-bottom: 30px;
            }
        }
        &-events {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            h3 {
                font-weight: bold;
                font-size: 24px;
                color: #3C3844;
            }
        }
    }
}

@media (max-width: 1125px) {
    .student-home {
        &-container {
            flex-direction: column;
            align-items: center;
        }
    }
}
@media (max-width: 720px) {
    .student-home {
        &-classes {
            width: 100%;
            &-list {
                width: 100%;
                .card-course {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .student-home {
        .card-course {
            &-img {
                display: none;
            }
            &-info {
                margin-left: 20px;
            }
        }
    }
}
@media (max-width: 440px) {
    .student-home {
        &-ce {
            width: 100%;
            &-calendar {
                width: 100%;
                &-menu {
                    width: 100%;
                    li {
                        padding: 11px 8px;
                    }
                }
                .react-calendar {
                    padding: 10px 20px !important;
                    width: 100%;
                }
            }
            &-events {
                width: 100%;
                .card-event {
                    width: 100%;
                    &-icon {
                        display: none;
                    }
                }
            }
        }
    }
}