@import '../../assets/styles/variables.scss';

* {
    outline: none;
}

.burger {
    &-container {
        display: flex;
        flex-direction: column;
        ul {
            margin-bottom: 30px;
            li {
                display: list-item;
                margin: 10px 0;
                color: #fff;
            }
        }
    }
    &-brand {
        font-weight: bold;
        font-size: 20px !important;
    }
}

//SYSTEM STYLES
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    right: 35px;
    top: 21px;
  }
  
  
  .bm-burger-bars {
    background: $primary;
    border-radius: 5px;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
    position: relative;
  }
  
  .bm-cross {
    background: #bdc3c7;
    height: 20px;
    width: 3px;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 99%;
  }
  
  .bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #22304A;
  }
  
  .bm-item-list {
    height: auto;
    display: flex;
    color: #b8b7ad;
    flex-direction: column;
    justify-content: center;
  }

  .bm-item {
    display: inline-block;
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .burger {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  
  @media (max-width: 780px) {
    .burger {
      display: block;
      z-index: 2;
    }
  }
  
  .menu-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  
  .menu-style {
    margin-left: 50px;
    position: absolute;
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 2px;
    margin-top: 8px;
  
    button {
      border: none;
      background: none;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-transform: capitalize;
    }
  
    button:hover {
      color: #FE5722;
      cursor: pointer;
    }
  
    button:active {
      outline: none;
    }
  }
