@mixin componentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

@mixin container {
    width: 1240px;
    display: flex;
    @media (max-width: 1250px) {
        & {
            width: 90%;
        }
    }
}

@mixin dropDown {
    width: 185px;
    height: 42px;
    background: #000000;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin-left: 12px;
        filter: brightness(0) invert(1);
    } 
}
